$accordion-color:                         dt('alpine.body.color');
$accordion-button-color:                  dt('alpine.body.color');
$accordion-bg:                            dt('alpine.body.backgroundColor');
$accordion-icon-color:                    gray;
@import "bootstrap/scss/bootstrap";